header {
  height: 60px;
  border-bottom: 1px solid var(--primary-blue);
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
  box-shadow: 0 4px 6px -6px #222;
  margin-bottom: 1.5em;

  .home_link {
    img {
      height: 100%;
    }
  }

  nav {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      color: var(--primary-blue);
      padding: 0.5em;
      position: relative;
    }

    a::before, button::before {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 0;
      height: 2px;
      background-color: var(--primary-blue);
      transition: width 0.3s ease-in-out;
    }

    a:hover::before,
    button:hover::before {
      width: 100%;
    }

    button {
      color: var(--primary-blue);
      font-size: 1em;
      border: none;
      background-color: transparent;
      padding: 0.5em;
      position: relative;
    }
  }
}

